{% extends 'home/base.html' %} {% block content %}
<title>tech villain-search</title>
<div class="container">
  <div class="row d-flex justify-content-center">
    <h3 class="m-2 heading text-center">Your search result</h3>
    {% for item in searchItem %}
    <div class="col-lg-5 m-2">
      <div class="shadow bgwhite border-radius25 my-3 p-2">
        <div class="row text-center p-2">
          <h3>{{item.title}}</h3>
          <p class="text-muted">{{item.category}}</p>
          <!-- <p style="text-align: justify">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. At
                veniam magni impedit voluptatibus itaque dignissimos, in facere
                totam, et sunt hic architecto quae consequatur est!
              </p> -->
          <div class="col">
            <a
              href="/blog/{{item.category.id}}?getid={{item.id}}"
              class="btn btn-primary border-radius"
              >Read more</a
            >
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <br><br>
  <!-- for paginations -->
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        Showing {{searchItem.start_index }} to {{searchItem.end_index }} out of
        {{total_searchItem}}
      </div>
      <div class="col-md-6" style="display: flex; justify-content: end">
        {% if searchItem.has_other_pages %}
        <div class="btn-group me-2" role="group" aria-label="First group">
          {% if searchItem.has_previous %}
          <button type="button" class="btn btn-outline-primary">
            <a href="?page={{ searchItem.previous_page_number }}">&laquo;</a>
          </button>
          {% else %}
          <button type="button" class="btn btn-outline-primary disabled">
            <span>&laquo;</span>
          </button>
          {% endif %} {% for i in searchItem.paginator.page_range %} 
          {% if searchItem.number == i %}
          <button type="button" class="btn btn-outline-primary active">
            {{ i }}<span class="sr-only">(current)</span>
          </button>
          {% else %}
          <button type="button" class="btn btn-outline-primary">
            <a href="?page={{ i }}" class="p-2">{{ i }}</a>
          </button>
          {% endif %} {% endfor %} {% if searchItem.has_next %}
          <button type="button" class="btn btn-outline-primary">
            <a href="?page={{ searchItem.next_page_number }}">&raquo;</a>
          </button>
          {% else %}
          <button type="button" class="btn btn-outline-primary disabled">
            <span>&raquo;</span>
          </button>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
