{% extends 'home/base.html' %} {% load static %} {% block content %}

<title>{{ category}}-tech villain</title>
<!-- prism css for syntax highlighter  -->
<link rel="stylesheet" href="{% static 'css/prismokd.css' %}" />

<div class="container">
  <!-- for responsive zig-zag  -->
  <div>
    <div class="burger fixed-top mt-3 ms-3">
      <div class="lin1"></div>
      <div class="lin2"></div>
      <div class="lin3"></div>
    </div>
  </div>

  <div class="row">
    <!-- left-side index  -->
    <div
      class="
        col-lg-3
        shadow
        bgwhite
        curv
        me-3
        py-4
        px-md-3 px-sm-2
        nav_right
        bb
      "
    >
      <h4>{{ category}}</h4>
      <form action="" method="GET">
        {% csrf_token %}
        <table class="table">
          {% for blog in blogs %}

          <tr>
            <td>
              <a
                href="/blog/{{blog.category.id}}?getid={{blog.id}}"
                class="text-decoration-none"
              >
                <h6>{{blog.title}}</h6>
              </a>
            </td>
          </tr>

          {% endfor %}
        </table>
      </form>
    </div>

    <div class="col-lg-8 py-4 px-lg-4 px-md-3 px-sm-1 bgwhite curv shadow">
      <div class="row">
        <div class="row titleFont text-primary">
          <h2>{{singleBlog.title}}</h2>
        </div>
        <div class="row">
          <p>Last modified: {{singleBlog.date}}</p>
        </div>
        <hr />
        <!-- <div class="row"> -->
        <p>{{singleBlog.desc|safe}}</p>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
<!-- prism js for systax highlighter  -->
<script src="{% static 'js/prismokd.js' %}"></script>
{% endblock %}
